# ====== Kafka and Zookeeper  ======
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT

      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

# ====== Spark ======
  spark:
    image: apache/spark:3.4.1
    container_name: spark
    depends_on:
      - kafka
    env_file:
      - .env.spark
    volumes:
      - ./spark:/opt/spark-apps
      - ./spark/checkpoints:/opt/spark-checkpoints
      - ./spark/output:/opt/spark-output 
    command:
      [
        "/opt/spark/bin/spark-class",
        "org.apache.spark.deploy.master.Master"
      ]
    ports:
      - "8080:8080"

